<div class="login-body">
    <div class="login-panel ui-fluid">
        <div class="login-panel-header">
            <img src="assets/layout/images/logo.png">
        </div>
        <div class="login-panel-content">
            <div class="ui-g">
                <div class="ui-g-12">
                    <h1>Sign-in to Serenity Network</h1>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="text" pInputText>
                        <label>Username</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <span class="md-inputfield">
                        <input type="text" pInputText>
                        <label>Password</label>
                    </span>
                </div>
                <div class="ui-g-12">
                    <button pButton type="button" label="Sign In" icon="ui-icon-person"></button>
                </div>
                <div class="ui-g-12">
                    Don't have an account? <a href="#">Sign Up</a> now.
                </div>
            </div>
        </div>
    </div>
</div>
