.login-form-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    .ui-button {
        padding: 0 !important;
    }
}
.invalid-form {
    border: 2px solid red !important;
    border-radius: 4px !important;
}
.card {
    min-width: 400px;
}