<div class="ui-g ui-fluid h-100">
    <div align="center" class="login-form-container">
        <div class="card m-3">
            <div class="ui-g">
                <div class="ui-g-12">
                    <div class="text-center">
                        <img src="https://www.operr.com/images/operr-logo-centered.png" style="width:140px;height: 140px;">
                        <p class="operr-version">OPERR® Tel </p>
                        <hr>
                        <!-- <form name="material_login_form" [formGroup]="loginForm" class="mx-3" (ngSubmit)="onSignUp()">
                            <div class="ui-g mx-3 form-group">
                                <div class="ui-g-12 ui-md-12">
                                    <span class="md-inputfield md-inputfield-box">
                                        <input pInputText formControlName="username" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                                        <label>Username/Email</label>
                                    </span>
                                </div>
                                <div class="ui-g-12 ui-md-12">
                                    <span class="md-inputfield md-inputfield-box">
                                        <input pInputText type="password" formControlName="password" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [ngClass]="{'invalid-form': failedMessage}" >
                                        <label>Password</label>
                                    </span>
                                    <div *ngIf="failedMessage">
                                        <span>
                                            <i class="fa ui-icon-info" style="color: red;"></i>
                                        </span>
                                        <span style="color: red;"> {{failedMessage}}</span>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="ui-g">
                                <div class="ui-g-12">
                                    <div *ngIf="message" class="text-danger">
                                        {{message}}
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-4">
                                    <div class="ui-g text-left">
                                        <a routerLink="/forgot-password" class="ui-g-12 py-0">Forgot Password?</a>
                                        <a routerLink="/forgot-username" class="ui-g-12 py-0">Forgot User Name?</a>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-8">
                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-md-6">
                                            <button type="submit" pButton label="Sign In"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form> -->
                        <div>
                            <form name="material_login_form" [formGroup]="phoneLoginWithOTP" class="mx-3" (ngSubmit)="onPhoneLoginWithOTP()" >
                                <div class="ui-g mx-3 form-group">
                                    <div class="ui-g-12 ui-md-12">
                                        <span class="md-inputfield md-inputfield-box">
                                            <input pInputText formControlName="username" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                                        <label>Username/Email</label>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="ui-g mx-3 form-group">
                                    <div class="ui-g-12 ui-md-12">
                                        <span class="md-inputfield md-inputfield-box">
                                            <input pInputText type="password" formControlName="password" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [ngClass]="{'invalid-form': failedMessage}" >
                                            <label>Password</label>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="ui-g">
                                    <div class="ui-g-12">
                                        <div *ngIf="message" class="text-danger">
                                            {{message}}
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-g">
                                    <div class="ui-g-12 ui-md-2"></div>
                                    <div class="ui-g-12 ui-md-8">
                                        <div class="ui-g">
                                            <div class="ui-g-12 ui-md-12">
                                                <button type="submit" pButton label="Sign In"></button>
                                            </div>
    <!--                                        <div class="ui-g-12 ui-md-6">-->
    <!--                                            <button routerLink="/sign-up" type="button" pButton label="Sign Up"></button>-->
    <!--                                        </div>-->
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-2"></div>
                                </div>
                                <!-- <div class="ui-g">
                                    <div class="ui-g-12 ui-md-12">
                                        <div class="ui-g text-center">
                                            <a routerLink="/forgot-password" class="ui-g-12 py-0">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
