<div class="card card-w-title">
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-offset-1">
            <div class="ui-g my-3">
                <div class="ui-g-12 ui-md-3 ui-lg-2">Name(*)</div>
                <div class="ui-g-12 ui-md-3 ui-lg-4">
                    <input type="text" [(ngModel)]="name"/>
                </div>

                <div class="ui-g-12 ui-md-3 ui-lg-2">Username</div>
                <div class="ui-g-12 ui-md-3 ui-lg-4">
                    <input type="text" [(ngModel)]="username"/>
                </div>
            </div>

            <div class="ui-g my-3">
                <div class="ui-g-12 ui-md-3 ui-lg-2">IP Address(*)</div>
                <div class="ui-g-12 ui-md-3 ui-lg-4">
                    <input type="text" [(ngModel)]="ipAddress"/>
                </div>

                <div class="ui-g-12 ui-md-3 ui-lg-2">Password</div>
                <div class="ui-g-12 ui-md-3 ui-lg-4">
                    <input type="text" [(ngModel)]="password"/>
                </div>
            </div>

            <div class="ui-g my-3">
                <div class="ui-g-12 ui-md-3 ui-lg-2">URL(*)</div>
                <div class="ui-g-12 ui-md-3 ui-lg-4">
                    <input type="text" [(ngModel)]="url"/>
                </div>

                <div class="ui-g-12 ui-md-3 ui-lg-2">Private key</div>
                <div class="ui-g-12 ui-md-3 ui-lg-4">
                    <input type="text" [(ngModel)]="privateKey"/>
                </div>
            </div>
            <div class="ui-g my-3">
                <div class="ui-g-12 ui-md-3 ui-lg-2">Node type(*)</div>
                <div class="ui-g-12 ui-md-3 ui-lg-4">
                    <select style="width: auto" matNativeControl required [(ngModel)]="nodeType">
                        <option value=1>SIP</option>
                        <option value=2>WebRTC</option>
                    </select>
                </div>
            </div>

            <div class="alert alert-warning" *ngIf="messageFlag">{{messageFlag}}
                <a class="close" (click)="removeAlert()">&times;</a>
            </div>

            <div>
                <tr>
                    <th style="width:4em"></th>

                    <th style="width:30%">
                        <button pButton type="button" class="text-uppercase ml-auto" label="Check connect"
                                (click)="checkConnection()"></button>
                    </th>
                    <th style="width:30%">
                        <button pButton type="button" class="text-uppercase ml-auto" label="Search"
                                (click)="search()"></button>
                    </th>

                    <th style="width:30%">
                        <button pButton type="button" class="text-uppercase ml-auto" label="Add"
                                (click)="addConfirm()"></button>
                    </th>
                </tr>
            </div>
        </div>
    </div>
</div>
<div class="card card-w-title">
    <div class="ui-g">
        <div class="ui-g-12">
            <form [formGroup]="nodeModelFormGroup">
                <div class="ui-g-12" >
                    <p-table class="w-100" #table
                             [value]="nodeModels"
                             dataKey="dataKey"
                             editMode="row"
                             (onLazyLoad)="search()"
                             [lazy]="true"
                             [autoLayout]="true"
                             [responsive]="true"
                             [scrollHeight]="200">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th style="width: 50px">

                                </th>
                                <th *ngFor="let col of cols">
                                    <ng-container [ngSwitch]="col.field">
                                      <span *ngSwitchDefault>
                                        {{ col?.label }}
                                      </span>
                                    </ng-container>
                                </th>
                            </tr>
                        </ng-template>
                        <hr>
                        <ng-template pTemplate="body" let-rowData let-editing="editing">
                            <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
                                <td>

                                </td>

                                <td formGroupName="{{ rowData.dataKey }}">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText formControlName="name"/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ rowData['name'] }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>

                                <td formGroupName="{{ rowData.dataKey }}">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText formControlName="ipAddress"/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ rowData['ipAddress'] }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>

                                <td formGroupName="{{ rowData.dataKey }}">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText formControlName="url"/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ rowData['url'] }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td formGroupName="{{ rowData.dataKey }}">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <select matNativeControl required formControlName="nodeType">
                                                <option value=1>SIP</option>
                                                <option value=2>WebRTC</option>
                                            </select>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{mapValue[rowData.nodeType]}}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>
                                <td formGroupName="{{ rowData.dataKey }}">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText formControlName="username"/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ rowData['username'] }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>

                                <td formGroupName="{{ rowData.dataKey }}">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText formControlName="password"/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ rowData['password'] }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>

                                <td formGroupName="{{ rowData.dataKey }}">
                                    <p-cellEditor>
                                        <ng-template pTemplate="input">
                                            <input type="text" pInputText formControlName="privateKey"/>
                                        </ng-template>
                                        <ng-template pTemplate="output">
                                            {{ rowData['privateKey'] }}
                                        </ng-template>
                                    </p-cellEditor>
                                </td>

                                <td style="text-align:center" formGroupName="{{ rowData.dataKey }}">
                                    <button pButton type="button" class="text-uppercase ml-auto" label="{{rowData.nameOfButton}}"
                                             (click)="editConfirm(rowData)"></button>
                                </td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </form>
        </div>

    </div>
</div>
