<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<!-- <h1 class="section-title m-b-20">Payment</h1> -->
<div class="layout-footer clearfix">
  <div class="d-flex w-100">
      <div class="filter row w-100">
        <div class="col-sm-6 d-flex align-items-center">
          <div class="row w-100 align-items-center">
            <div class="col-sm-2">
                <label class="m-0" style="font-size: 16px;">Select customer</label>
            </div>
            <div class="col-sm-5">
              <select class="selection form-control" [(ngModel)]="selectCustomer" (change)="onSelectCustomer($event)">
                <!-- <option> Name</option> -->
                <option>Select customer</option>
                <option value="{{cust.customerId}}" *ngFor="let cust of customers">{{cust.firstName}} {{cust.lastName}}</option>
                <!-- <option>Access Level</option> -->
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<p-tabView [activeIndex]="selectedTab" (onChange)="tabChanged($event)">
  <p-tabPanel header="{{ 'Show All'}}">
    <div class="card card-w-title">
      <div class="row m-t-20">
        <div class="col-md-12">
          <h2 class="h2">Payment Methods</h2>
        </div>
      </div>
      <div class="row card-entry w-100" *ngFor="let card of cards">
        <div class="row w-100">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-4">
                <div class="row" style="display:contents;">
                  <span style="margin-right: 30px"><span>Card Type</span>:</span>
                  <img src="/assets/images/payment/visa-straight-128px.png"
                      *ngIf="card.paymentCardType === 'VISA'" class="card-image">
                  <img src="/assets/images/payment/mastercard-straight-128px.png"
                      *ngIf="card.paymentCardType === 'MASTER_CARD'" class="card-image">
                  <img src="/assets/images/payment/american-express-straight-128px.png"
                      *ngIf="card.paymentCardType === 'AMERICAN_EXPRESS'" class="card-image">
                </div>
              </div>
              <div class="col-lg-3">
                <div class="row" style="padding-top: 7px">
                  <strong> xxxxxx{{card?.lastFourNumbers}} </strong>
                </div>
              </div>
<!--              <div class="col-lg-2">-->
<!--                <div class="row" style="padding-top: 7px">-->
<!--                  <span-->
<!--                    style="margin-right: 30px"><span>Status</span>:</span><strong> {{card?.status ? 'ACTIVE' : 'INACTIVE'}} </strong>-->
<!--                </div>-->
<!--              </div>-->
              <div class="col-lg-5">
                <div class="row pull-right">
                  <button class="btn btn-danger btn-sm" (click)="confirmDeleteCard(card.id)" *ngIf="!card.active"
                          style="margin-left: 20px">
                    Delete
                  </button>
                  <button class="btn btn-primary btn-sm" (click)="makeDefaultPaymentCard(card.id)"
                          style="margin-left: 20px" *ngIf="!card.active">
                    Make Default
                  </button>
                  <button class="btn btn-info btn-sm"
                          style="margin-left: 20px" disabled *ngIf="card.active">
                    Current Default
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="paymentCardType === PAYMENT_CARD_TYPE.PAYPAL">
          <h5 class="card-info">
            <img src="/assets/images/payment/paypal-straight-128px.png"> <span>Email</span> <strong>
            {{paymentProfile?.merchantAccountId}} </strong>
          </h5>
        </div>
      </div>
      <hr/>

      <div class="row m-t-20">
        <div class="col-md-12">
          <h2 class="h2">Promotions</h2>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="promo-code-content-adjust">
            <div class="display-flex">
              <input type="text" class="form-control" placeholder="{{'Promo Code'}}" [(ngModel)]="promoCode" />
              <button pButton class="ui-button-raised pull-right" label="{{ 'Apply' }}">
              </button>
            </div>
          </div>
        </div>
        <div class="row no-active-promotions m-t-40">
          NO ACTIVE PROMOTIONS
        </div>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="{{ 'Add'}}">
    <div class="card card-w-title">
      <form [formGroup]="formGroup" *ngIf="formGroup" autocomplete="off">
        <div class="row m-t-20">
          <div class="col-md-12">
            <h5 class="credit-card-wrapper display-flex align-items-center">
              <h2 class="h2">Credit Card / Debit Card</h2>
              <img src="/assets/images/payment/visa-straight-128px.png"
                  *ngIf="paymentCardType === PAYMENT_CARD_TYPE.VISA">
              <img src="/assets/images/payment/mastercard-straight-128px.png"
                  *ngIf="paymentCardType === PAYMENT_CARD_TYPE.MASTER_CARD">
              <img src="/assets/images/payment/american-express-straight-128px.png"
                  *ngIf="paymentCardType === PAYMENT_CARD_TYPE.AMERICAN_EXPRESS">
            </h5>
            <hr>
            <br>
            <div class="form-group row">
              <div class="col-lg-6">
                <div class="ui-float-label">
                  <p-dropdown
                    [options]="paymentCardTypes"
                    formControlName="paymentCardType"
                    styleClass="w-100"
                    (onChange)="validateCVV($event)"
                    placeholder="{{'Select Card Type'}}"
                    [autoDisplayFirst]="false"
                    [showClear]="true">
                  <ng-template pTemplate="item" let-item>{{item.label}}</ng-template><ng-template pTemplate="selectedItem" let-item>{{item.label}}</ng-template></p-dropdown>
                  <!-- <label>Payment Card Type</label> -->
                </div>
              </div>
              <div class="col-lg-6">
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input type="text" class="form-control" name="cardName" placeholder="{{'First Name'}}" [required]="true"
                formControlName="cardName" id="cardName">
                <!-- <opr-input-text name="cardName" placeholder="{{'Card Name'}}" [required]="true"
                                formControlName="cardName">
                </opr-input-text> -->
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input type="text" class="form-control" name="lastName" placeholder="{{'Last Name'}}" [required]="true"
                formControlName="lastName" id="lastName">
                <!-- <opr-input-text name="cardName" placeholder="{{'Card Name'}}" [required]="true"
                                formControlName="cardName">
                </opr-input-text> -->
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input name="cardNumber" placeholder="{{'Card Number'}}" [required]="true"
                formControlName="cardNumber" type="text" class="form-control" maxlength="16">
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20 position-relative">
                <input placeholder="{{'CVV'}}"
                formControlName="cvcNumber"
                maxlength="3"
                (change)="validateCVV($event)"
                [required]="true"
                type="text" class="form-control" class="flex-auto w-100">
                
<!--                <span class="md-inputfield ng-star-inserted" *ngIf="messageCvvError">-->
<!--                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="messageCvvError">-->
<!--                    {{messageCvvError}}-->
<!--                  </div>-->
<!--                </span>-->
              </div>
              <div class="col-lg-6">
              </div>
              <div class="col-lg-2 m-t-20">
                <div class="ui-float-label">
                  <p-dropdown
                    [options]="months"
                    formControlName="month"
                    styleClass="w-100"
                    [autoDisplayFirst]="false"
                    [showClear]="true"
                    (onChange)="validateMonth($event)"
                    [required]="true"
                  >
                  <ng-template pTemplate="item" let-item>{{item.label}}</ng-template><ng-template pTemplate="selectedItem" let-item>{{item.label}}</ng-template></p-dropdown>
                  <label>Exp. Month <span style="color: red">*</span></label>
                </div>
                <span class="md-inputfield ng-star-inserted" *ngIf="messageMonthError">
                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="messageMonthError">
                    {{messageMonthError}}
                  </div>
                </span>
              </div>
              <div class="col-lg-3 m-t-20">
                <input formControlName="year"
                placeholder="{{'Expires (Year):'}}"
                type="text" class="form-control"
                (change)="validateYear($event); validateMonth($event);"
                [required]="true" maxlength="4" />
                
                <span class="md-inputfield ng-star-inserted" *ngIf="messageYearError">
                  <div class="ui-message ui-messages-error ui-corner-all" *ngIf="messageYearError">
                    {{messageYearError}}
                  </div>
                </span>
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input name="address" placeholder="{{'Address'}}" type="text" class="form-control"
                formControlName="address" [required]="true" />
                
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input name="city" placeholder="{{'City'}}" type="text" class="form-control"
                formControlName="city" [required]="true" />
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input name="country" placeholder="{{'Country'}}"
                formControlName="country" [required]="true" type="text" class="form-control">
                
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input type="text" class="form-control" name="zipcode" placeholder="{{'Zipcode'}}"
                formControlName="zipcode" [required]="true" maxlength="5" />
              </div>
            </div>
            <div class="form-group row m-t-20">
              <div class="col-lg-6 m-t-20">
                <input type="text" class="form-control" name="state" placeholder="{{'State'}}"
                formControlName="state" [required]="true" />
              </div>
            </div>
          </div>
        </div>
        <div class="row m-b-20">
          <div class="col-lg-12">
            <button pButton
                    type="button"
                    (click)="addPaymentMethod()"
                    label="{{'Save'}}"
                    class="pull-right" [disabled]="formGroup.invalid">
            </button>

            <button pButton (click)="cancel()"
                    label="{{'Cancel'}}"
                    class="ui-button-raised pull-right">
            </button>
          </div>
        </div>
        <hr>
        <br>

        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2">PayPal Account</h2>
            <p>We do not store your PayPal information. Your PayPal account will be linked and used upon checkout. </p>
            <BR>
            <div class="row">
              <div id="paypal-button-container width-200px"></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </p-tabPanel>
</p-tabView>