  :host ::ng-deep{ 
    .ui-tabview-panel{
      padding-top: 0px !important;
    }
  
    .ui-tabview .ui-tabview-nav li{
      margin-right: 0px !important;
    }

    .ui-inputtext{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }