.row {
    margin-right: 0;
    margin-left: 0;
}

.no-active-promotions {
    background-color: #e0f0ff;
    padding: 10px;
    border: 1px solid #abc7e2;
    border-radius: 5px;
}

.credit-card-wrapper {
    display: flex;
}

.credit-card-wrapper > img {
    /* padding: 20px; */
    width: 40px;
    height: auto;
    margin: 10px;
}
.promotions-input-wrapper .mat-form-field-infix {
    display: flex !important;
}
.card-image {
    width: auto;
    height: 35px;
}
.ui-widget-content {
    border: 0px !important;
}
.cardtype-dropdown {
min-width:120px !important;
}
.mat-select, mat-select {
    border-radius: 5px !important;
    height: 45px !important;
    padding: 10px !important;
    padding-top: 12px !important;
}

h2.h2 {
    font-size: 26px;
    color: #95bbd0;
    font-weight: 400;
}
h4.h4 {
    font-size: 22px;
    color: #95bbd0;
    font-weight: 400;
}
.m-t-20 {
    margin-top: 20px;
  }
  .m-t-50 {
    margin-top: 50px;
  }
  .m-t-30 {
    margin-top: 30px;
  }
  .m-t-40 {
    margin-top: 40px;
  }
  .m-b-20 {
    margin-bottom: 20px;
  }
  .m-b-40 {
    margin-bottom: 40px;
  }
  .m-r-20 {
      margin-right: 20px;
  }
  .m-l--15 {
      margin-left: -15px;
  }
  .p-l-20 {
    padding-left: 20px
  }
  .p-l-40 {
    padding-left: 40px
  }
  .p-l-100 {
    padding-left: 100px;
  }
  .p-r-20 {
    padding-right: 20px;
  }
  .p-l-5 {
    padding-left: 5px;
  }
  .promo-code-content-adjust {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 20px;
  }
  .display-flex {
      display: flex;
  }
  .align-items-center {
      align-items: center;
  }
  .width-150px {
    width: 150px;
  }
  .width-200px {
    width: 200px;
  }
  label {
    top: 11px;
    left: 10px;
    font-size: 10px; 
  }

  .ui-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  @media (max-width: 700px) {
    .width-150px {
        width: unset;
      }
  }
  