.opr-user-form {
    padding: 25px;
    border: 1px solid #f8f9fa;
    box-shadow: 0 0 3px #d7dadc;
    border-radius: 5px;
    position: relative;
    margin-bottom:35px;
}
.opr-form-title {
    position: absolute;
    top: -15px;
    background: #fff;
    padding: 0 15px;
    left: 9px;
}
.error {
    color: #f00;
    font-size: 12px;
}
.msg-list {
    padding: 0;
    margin: 0;
    height: calc(100vh - 215px);
    overflow: auto;
}
.msg-list li {
    list-style: none;
    text-align:left;
    margin: 30px 0;
}
.msg-container {
    padding: 5px;
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 0;
    box-shadow: 0 0 3px #999;
    max-width: 70%;
    width: auto;
    display: inline-block;
}
.msg-list li.outgoing {
    text-align: right;
}
.msg-list li.outgoing .msg-container {
    background: #007eff;
    color: #fff;
    border-radius: 15px 15px 0px 15px;
    text-align: left;
}
.msg-list li.incoming .msg-container {
    border-radius: 15px 15px 15px 0px;
}
.msg-list li .msg-container p{
    font-size: 15px;
    margin-bottom: 0;
}
.msg-list li.outgoing .msg-container span {
    color: #d8d8d8;
}
.msg-list li .msg-container span{
    font-size: 10px;
    color: #999;
}

.date-in-to-list {
    color: lightslategray;
}
.fileuploader input[type="file"] {
    display: none;
}
.fileuploader label {
    font-size:13px;
}
.fileuploader label span {
    margin-left: 5px;
}
.inbox-did {
    font-weight: bold;
}