<p-confirmDialog
    header="Confirmation"
    icon="pi pi-exclamation-triangle"
></p-confirmDialog>


    <div class="opr-user-form">
        <div class="form-row">
            <!-- <div class="col-md-4 mb-3">
                <label for="validationDefault01">Customer</label>
                <select class="selection form-control" formControlName="customerId" (change)="onSelectCustomer($event)">
                    <option>Select Customer</option>
                    <option value="{{cust.customerId}}" *ngFor="let cust of customers">{{cust.firstName}} {{cust.lastName}}</option>
                </select>
                <span class="error" *ngIf="didConnectFormControl.customerId.touched && didConnectFormControl.customerId.errors && didConnectFormControl.customerId.errors.required">This field is required</span>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Accounts</label>
                <select class="selection form-control" formControlName="account" (change)="onSelectAccount($event)">
                    
                    <option>Select Account</option>
                    <option value="{{acu.account}}" *ngFor="let acu of accounts">{{acu.account}} </option>
                    
                </select>
                <span class="error" *ngIf="didConnectFormControl.account.touched && didConnectFormControl.account.errors && didConnectFormControl.account.errors.required">This field is required</span>
            </div> -->
        </div>
        <div class="form-row">
            <div class="col-sm-12">
                <p-table #dt [columns]="cols" styleClass="ui-table-cars" [value]="history" [paginator]="false" dataKey="to" selectionMode="single">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData" [pEditableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>