<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="layout-footer clearfix">
<div class="d-flex w-100">
    <div class="filter row w-100">
        <div class="col-sm-6 d-flex align-items-center">
            <div class="row w-100 align-items-center">
                <div class="col-sm-2">
                    <label class="m-0">Filter By</label>
                </div>
                <div class="col-sm-10">
                    <select class="selection form-control">
                        <option> Name</option>
                        <option> Description</option>
                        <option>Access Level</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex align-items-center">
            <input type="text" class="form-control mr-2" name="" id="">
            <button pButton label="Filter"></button>
        </div>
    </div>
    <div class="action ml-auto d-flex align-items-center">
        <button pButton [routerLink]="['/add-user']" label="Add New">
        </button>
    </div>
</div>
</div>
<p-table [value]="data">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Access Level</th>
            <th width="100">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.description}}</td>
            <td>{{user.accessLevel}}</td>
            <td>
                <a routerLink="../edit-user/{{user.username}}"><i class="ui-icon-edit"></i></a>
                <a href="javascript:void(0)" (click)="deleteUser(user.id)"><i class="material-icons">clear</i></a>
            </td>
        </tr>
    </ng-template>
</p-table>